.container{
    background-color: #F2F2F2;
}

#footer{
    padding: 5px 5px 10px 5px;
    margin-top: 10px;
    border-top: 1px solid #DDD;
}

.btn {
    margin-top: 10px;
    margin-right: 10px;
}

body h1{
    font-size: 30px;
    border-bottom: 1px solid #000;
}

body h2{
    font-size: 25px;
}

table#tableau_resultats_simple{
    background-color: #FFF;
}

tbody tr td:first-child, thead tr th:first-child{
    text-align: center;
}

div.form-inline label{
    margin: 0 5px;
}

#well-sm-kbd{
    font-size: .8em;
    background-color: #272822; 
    color: #f8f8f2;
    margin-bottom: 10px;
}

#well-sm-kbd .comment{
    color: #999;
}

#well-sm-kbd .protocol{
    color: #f92672;
}

#well-sm-kbd .apiversion{
    color: #a6e22e;
}

#result .panel{
    margin-top: 10px;
}