extends index
block content

    script(type='text/javascript').
      var elem = document.getElementById("nav-about").parentNode;
      elem.className = elem.className + " active";

    h1 A propos de ce projet
    p Ce projet a été réalisé en tant que projet de fin d'année (Projet Pluri-Disciplinaire) par des étudiants de M2 MIAGE de l'université Paris Descartes, promotion 2015.
    h2 Equipe de réalisation (ordre alphabétique) : 
    ul
        li Marion Boko
        li Justine Ferreira
        li Baptiste Gerbaux
        li Mathieu Guglieri
        li Flora Guy-Coichard
        li Alexandra Lemaire
        li Vassili Podrajanski
    h2 Equipe encadrante (ordre alphabétique) : 
    ul
        li Melissa Ailem
        li Mohammed Nadif
        li François Role

    div(class="well well-sm") Le code source du client est disponible sur Github.
    div(class="well well-sm") Si vous avez des questions sur le projet, vous pouvez vous adresser à l'équipe encadrante (nom.prenom[at]parisdescartes.fr).