extends index
block content

    h1 Gene's reference : ZMYM3
    p PUBMED IDs : 10486218,    Alias : ZMYM7,    Cytogenetic position : XQ13.1
    .row
        .col-md-9
            div(class="panel panel-default")
                .panel-heading
                    h3.panel-title Summary
                .panel-body This gene is located on the X chromosome and is subject to X inactivation. It is highly conserved in vertebrates ans most abundantly expressed in the brain. The encoded protein is a component of histone deacetylase-containing multiprotein complexes that function through modifying chromatin structure ti keep genes silent. A chromosal translocation (X; 13) involving this gene is associated.
            div(class="panel panel-default")
                .panel-heading
                    h3.panel-title Gene functions
                .panel-body ZMYM3 (zinc finger, MYM-Type 3) is a protein-coding gene. An important paralog of this gene is <a href="">ZMYM4</a>.
            div(class="panel panel-default")
                .panel-heading
                    h3.panel-title Gene phenotype relationships
                table(class="table table-bordered table-striped" id="tgene")
                    tr
                        th InteractorA
                        th InteractorB
                        th Method detector
                        th Pubmed
                        th RoleExpIntA
                        th RoleExpIntB
                    tr 
                        td ZMYM3
                        td X8IL
                        td METH1
                        td W1RL
                        td ZZZZ
                        td YYYY
                    tr 
                        td ZMYM3
                        td X8IL
                        td METH1
                        td W1RL
                        td ZZZZ
                        td YYYY
                    tr 
                        td ZMYM3
                        td X8IL
                        td METH1
                        td W1RL
                        td ZZZZ
                        td YYYY
                    tr 
                        td ZMYM3
                        td X8IL
                        td METH1
                        td W1RL
                        td ZZZZ
                        td YYYY
        .col-md-3
            div(class="panel panel-default")
                .panel-heading
                    h3.panel-title Associated diseases
                ul.list-group
                    li.list-group-item 
                        a(href="/maladie") Asthma
                    li.list-group-item
                        a(href="/maladie") Parkinson
                    li.list-group-item
                        a(href="/maladie") Hypertension
                    li.list-group-item
                        a(href="/maladie") Anaphylaxis
                    li.list-group-item
                        a(href="/maladie") Rhinitis
                    li.list-group-item
                        a(href="/maladie") Eczema
                    li.list-group-item
                        a(href="/maladie") Sinutuis
                    li.list-group-item
                        a(href="/maladie") Bronchial
                    li.list-group-item
                        a(href="/maladie") Parasitic infections