extends index
block content

    h1 Genes' references
    .row
        .col-md-12
            div(class="panel panel-default")
                .panel-heading
                    h3.panel-title List of all genes
                table(class="table table-bordered table-striped" id="tgene")
                    tr
                        th Id
                        th Symbol
                        th Alias
                    tr 
                        td 
                            a(href="/gene") 90
                        td ACVR1
                        td ACTRI, ACVR1A, ACVRLK2, ALK2, FOP, SKR1, TSRI
                    tr 
                        td 
                            a(href="/gene") 4363
                        td ABCC1
                        td ABC29, ABCC, GS-X, MRP, MRP1
                    tr 
                        td
                            a(href="/gene") 10347
                        td ABCA7
                        td ABCA-SSN, ABCX
                    tr 
                        td
                            a(href="/gene") 6059
                        td ABCE1
                        td ABC38, OABP, RLI, RNASEL1, RNASELI, RNS4I
                    tr
                        td
                            a(href="/gene") 10881
                        td ACTL7A
                        td - 
                    tr
                        td
                            a(href="/gene") 53
                        td ACP2
                        td LAP