extends index
block content

    h1 Disease's references : Asthma
    p PUBMED IDs : 12345,    Alias : XMRGH
    .row
        .col-md-12
            div(class="panel panel-default")
                .panel-heading
                    h3.panel-title Summary
                .panel-body Asthma (Az-ma) is a chronic (long-term) lung disease that inflames and narrows the airways. Ashtma causes recurring periods of wheezing (a whistling sound when you breath), chest tightness, shortness of breth, and coughing. The coughing occurs at night or early in the morning.
                            Asthma affects people of all ages, but it often starts during childhood. In the United States, more than 25 millions people are affected.
            div(class="panel panel-default")
                .panel-heading
                    h3.panel-title Linked genes
                table(class="table table-bordered table-striped" id="tgene")
                    tr
                        th InteractorA
                        th InteractorB
                        th Method detector
                        th Pubmed
                        th RoleExpIntA
                        th RoleExpIntB
                    tr 
                        td ZMYM3
                        td X8IL
                        td METH1
                        td W1RL
                        td ZZZZ
                        td YYYY
                    tr 
                        td ZMYM3
                        td X8IL
                        td METH1
                        td W1RL
                        td ZZZZ
                        td YYYY
                    tr 
                        td ZMYM3
                        td X8IL
                        td METH1
                        td W1RL
                        td ZZZZ
                        td YYYY
                    tr 
                        td ZMYM3
                        td X8IL
                        td METH1
                        td W1RL
                        td ZZZZ
                        td YYYY