extends index
block content

    script(type='text/javascript').
      var elem = document.getElementById("nav-search").parentNode;
      elem.className = elem.className + " active";

    h1 Faire une recherche
    p Vous pouvez effectuer une recherche sur un gêne, une maladie ou un ensemble de gênes pour obtenir les maladies qui sont communes à ces gènes.
    label(class="sr-only" for="query") Input with help text
    input(type="text" id="query" class="form-control" aria-describedby="query")
    span Cette recherche porte sur :
    .form-inline
        .form-group
            input#from(type='radio', name='radiobtn_search', value='gene', data-toggle='radio' checked)
            label.control-label(for='from') Gêne
        .form-group
            input#from(type='radio', name='radiobtn_search', value='maladie', data-toggle='radio')
            label.control-label(for='from') Maladie
        .form-group
            input#from(type='radio', name='radiobtn_search', value='genes', data-toggle='radio')
            label.control-label(for='from') Maladies communes à un ensemble de gênes (séparer les gênes par des points-virgules ";")
    button(type="button" href="#" class="btn btn-primary") Lancer la recherche
    button(type="button" href="#" class="btn btn-default") Effacer

    h2 Resultats de la recherche : Gene 1, Gene 2, Gene 3, Gene 4
    div(type="button" href="#" class="dropdown")
        a(href="#", data-toggle="dropdown").dropdown-toggle Telecharger les résultats
        ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
            li
                a(href='#', tabindex='-1') CSV
            li
                a(href='#', tabindex='-1') Fichier Texte

    table(id="tableau_resultats_simple" class="table table-bordered")
        thead
            tr
                th(style='width: 7%;') Cohérence
                th Maladie
                th Gene 1
                th Gene 2
                th Gene 3
                th Gene 4
        tbody
            tr
                td.success 100%
                th
                    a(href="/maladie") Asthma
                td.success Gene 1
                td.success Gene 2
                td.success Gene 3
                td.success Gene 4
            tr
                td.warning 75%
                th
                    a(href="/maladie") Tuberlucose
                td.success Gene 1
                td Gene 2
                td.success Gene 3
                td.success Gene 4
            tr
                td.warning 75%
                th
                    a(href="/maladie") Aids
                td.success Gene 1
                td.success Gene 2
                td Gene 3
                td.success Gene 4
            tr
                td.warning 75%
                th
                    a(href="/maladie") Flu
                td Gene 1
                td.success Gene 2
                td.success Gene 3
                td.success Gene 4
            tr
                td.danger 50%
                th
                    a(href="/maladie") Prostate Cancer
                td.success Gene 1
                td Gene 2
                td Gene 3
                td.success Gene 4
            tr
                td.danger 50%
                th
                    a(href="/maladie") Breast Cancer
                td Gene 1
                td.success Gene 2
                td Gene 3
                td.success Gene 4
            tr
                td.danger 50%
                th
                    a(href="/maladie") Lung Cancer
                td Gene 1
                td Gene 2
                td.success Gene 3
                td.success Gene 4
